/* =========================
   CARDS
========================= */

.card-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Hover cards */

.card-link .card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link:hover .card{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Imagen de fondo */

.card-imagen{
    height: 220px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.fondo-card-hero-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* Overlay */

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    text-align: center;

    background: rgba(0,0,0,0.35);
    color: white;
}

/* =========================
   CAROUSEL SECCIONES
========================= */
.carousel-secciones{
    overflow:hidden;
    width:100%;
    padding:40px 0;
    position:relative;
}

.carousel-track{
    display: flex;
    gap: 25px;
    animation: scroll 30s linear infinite;
}

/* dirección contraria */

.carousel-secciones.reverse .carousel-track{
    animation-direction: reverse;
}

/* pausa al pasar ratón */

.carousel-secciones:hover .carousel-track{
    animation-play-state: paused;
}

/* animación */

@keyframes scroll{

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }

}

.card-seccion{
    min-width: 260px;
    flex-shrink: 0;
}

.carousel-secciones::before,
.carousel-secciones::after{
    content: "";
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 2;
}

.carousel-secciones::before{
    left: 0;
    background: linear-gradient(to right, white, transparent);
}

.carousel-secciones::after{
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

.seccion-carrusel{
    background:white;
}

/* =========================
   CARD TEXTO SOMBREADO MONTAÑA
========================= */

.texto-federacion{
    color: #ff7a00;
}

.h1-federacion{
    font-size: 1.8rem;
}

.texto-generico{
    text-align: center;
}

.enlace-federacion {
    text-decoration: none;
    color: inherit;
}

.enlace-federacion .sombra-card{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlace-federacion:hover .sombra-card{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* =========================
   CARD TEXTO MONTAÑA
========================= */

.seccion-montaña .seccion-titulo{
    font-size: 1.4rem;
}

.seccion-montaña .seccion-subtitulo{
    font-size: 1rem;
}

.seccion-montaña .seccion-texto{
    font-size: 1rem;
}

/* =========================
   SECCION NOTICIAS
========================= */

.card-noticia .card-body{
    padding: 20px;
    flex: 1;
}

/* categoria */

.noticia-categoria{
    background: rgba(0,0,0,0.6);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* titulo */

.noticia-titulo{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* fecha */

.noticia-fecha{
    color: gray;
    font-size: 0.8rem;
}

/* texto */

.noticia-texto{
    font-size: 0.9rem;
    margin-top: 10px;
}

/* boton */

.noticias-boton{
    text-align: center;
    margin-top: 40px;
}

.card-noticia .card-imagen{
    height:200px;
}

/* CONTENEDOR NOTICIAS ANCHO */

/* GRID NOTICIAS */

.grid-noticias{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:30px;
}

.grid-noticias a:first-child{
    grid-row: span 2;
}

.grid-noticias a:first-child .card-imagen{
    height:100%;
}

.grid-noticias a:first-child .noticia-titulo{
    font-size:1.5rem;
}

.grid-noticias a:first-child .noticia-texto{
    font-size:1rem;
}
/* fin periodico */
.seccion-noticias{
    padding:80px 0;
    margin-top:70px;
    margin-bottom:70px;
}

.seccion-noticias h2{
    margin-bottom:35px;
}

.card-noticia .card-body{
    display:flex;
    flex-direction:column;
    height:100%;
}

.noticia-texto{
    font-size:0.9rem;
    margin-top:10px;

    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;

    overflow:hidden;
    line-clamp:3;
}

.card-noticia{
    display:flex;
    flex-direction:column;
    border-radius:12px;
    overflow:hidden;
    height:100%;
    min-height:380px;
}

.card-link{
    width:100%;
}

/* .badge-montana{background:#2f6b2f;}
.badge-deportes{background:#0066cc;}
.badge-cultura{background:#8b3bbf;}
.badge-centro{background:#ff7a00;}  */