/* =========================
   BOTONES HERO
========================= */

.btn{
    transition: all .25s ease;
    font-family: "Share Tech Mono", monospace;
}

.btn-naranja{
    background-color: #ff7a00;
    border-color: #ff7a00;
    color: white;
}

.btn-naranja:hover{
    background-color: #e66d00;
    border-color: #e66d00;
}

.btn-outline-blanco{
    border: 2px solid  #e66d00;
    color:  white;
}

.btn-outline-blanco:hover{
    background-color: white;
    border-color: #e66d00;
    color: #e66d00;
}

/* =========================
   BOTONES SECCION NOTICIAS
========================= */

.btn-amarillo{
    background-color: #cba81a;
    border-color: white;
    color: white;
}

.btn-amarillo:hover{
    background-color: #cba81a;
    border-color: #cba81a;
    color: white;
}

.btn-outline-verde{
    border: 2px solid  rgb(35, 93, 35);
    color:  white;
}

.btn-outline-verde:hover{
    background-color: rgb(30, 77, 30);
    color: white;
}

.btn-rojo{
    background-color: rgb(133, 35, 35);
    border-color: white;
    color: white;
}

.btn-rojo:hover{
    background-color: rgb(133, 35, 35);
    border-color: rgb(133, 35, 35);
    color: white;
}

.btn-outline-azul{
    border: 2px solid  rgb(26, 26, 110);
    color:  rgb(26, 26, 110);
}

.btn-outline-azul:hover{
    background-color: rgb(32, 32, 122);
    color: white;
}

/* =========================
   BOTONES SECCIONES INTERNOS
========================= */

.btn-verde-interno{
    background-color: rgb(35, 93, 35);
    border-color: white;
    color: white;
}

.btn-verde-interno:hover{
    background-color: rgb(35, 93, 35);
    border-color: rgb(35, 93, 35);
    color: white;
}

.btn-outline-verde-interno{
    background-color: white;
    border: 2px solid  rgb(35, 93, 35);
    color:  rgb(35, 93, 35);
}

.btn-outline-verde-interno:hover{
    background-color: rgb(35, 93, 35);
    color: white;
}

/* =========================
   BOTON HEADER
========================= */
.btn-header{
    align-content: center;
    text-decoration: none;
    background-color: #ff7a00;
    font-family: "Share Tech Mono", monospace;
    color: white;
    font-size: large;
    margin: auto;
    border-radius: 8px;
    border: 2px solid white;
    width: 150px;
    height: 60px;
}

/* =========================
   BOTÓN VOLVER ARRIBA
========================= */

#btnTop{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;

  background-color: #ff7a00;
  color: white;

  border: none;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  font-size: 20px;
  cursor: pointer;

  display: none;
  transition: all 0.3s ease;
}

#btnTop:hover{
  background-color: #e66d00;
}