/* =========================
   FOOTER
========================= */

.footer{
    background-color: #0f2a44;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #ff7a00;
}

.seccion-footer{
    line-height: 30px;
}

.seccion-facebook i{
    font-size: 3rem;
}

.seccion-facebook-contenedor{
    display: flex;
    justify-content: center;
    align-items: start;
}

.seccion-facebook{
    display: flex;
    flex-direction: column;
}
