/* =========================
   NAVBAR
========================= */

.navbar {
    padding: 2rem;
    background-color: #0f2a44;
    z-index: 2000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar .nav-link{
    color: white;
    font-family: "Share Tech Mono", monospace;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover{
    color: #ff7a00;
}

/* Dropdown */

.dropdown-menu{
    background-color: #0f2a44;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: #ff7a00;
    color: white;
}

/* Botón hamburguesa */

.navbar-toggler{
    border-color: white;
}