/* =========================
   RESPONSIVE
========================= */

/* Navbar logo */

@media screen and (max-width: 1400px) {
    .navbar-brand img{
        width:100px;
    }
}

/* Botones hero */

@media (max-width: 767px){
    .boton-hero{
        min-width: 220px;
    }
}

/* Hero título */

@media (min-width: 768px){
.hero-content{
    transform: translateY(60px);
}
}

@media (max-width:768px){

.hero-content{
    padding:2rem 1rem;
}

.seccion-titulo{
    font-size:2rem;
}

}

/* Logo hero */
@media (max-width: 768px){
    .hero-logo{
        width: 180px !important;
    }
}

@media (max-width: 480px){
    .hero-logo{
        width: 140px !important;
    }
}

/* Sticky nav móviles */

@media (max-width:768px){
body {
    padding-top: 80px;
}
}

/* Menú colapsado */

@media (max-width: 768px){
.navbar-collapse{
    max-height: 80vh;
    overflow-y: auto;
}
}

/* ==============================
   RESPONSIVE CAROUSEL SECCIONES
================================= */

/* tablets */

@media (max-width: 992px){

.card-seccion{
    min-width: 220px;
}

.card-imagen{
    height: 190px;
}

.carousel-track{
    gap: 20px;
}

}

/* móviles */

@media (max-width: 576px){

.card-seccion{
    min-width: 170px;
}

.card-imagen{
    height: 150px;
}

.carousel-track{
    gap: 15px;
    animation-duration: 20s;
}

.card-overlay{
    gap: 40px;
}

}

/* =========================
   RESPONSIVE NOTICIAS
========================= */

@media (max-width:576px){

.grid-noticias{
    gap:20px;
}

}

@media (max-width:992px){

.grid-noticias{
    grid-template-columns:1fr 1fr;
}

.grid-noticias a:first-child{
    grid-column:span 2;
}

}

/* moviles */
@media (max-width:576px){

.grid-noticias{
    grid-template-columns:1fr;
}

.grid-noticias a:first-child{
    grid-column:auto;
    grid-row:auto;
}

}

/* =========================
   RESPONSIVE GALERIA
========================= */

/* tablets */
@media (max-width: 992px){
    .galeria-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-item:nth-child(1){
        grid-column: span 2;
        grid-row: span 1;
    }

    .galeria-item:nth-child(4){
        grid-column: span 2;
    }
}

/* móviles */
@media (max-width: 576px){
    .galeria-grid{
        grid-template-columns: 1fr;
    }

    .galeria-item{
        grid-column: auto !important;
        grid-row: auto !important;
    }
}